<html>

<body>

<h1>Tom's Favorite Restaurants</h1>
<a href= '{{url_for('newRestaurant')}}'><em>+ Add Restaurant</em></a>
<h2>
    {% with messages = get_flashed_messages() %}
      {% if messages%}

       <ul>
       {% for message in messages %}
            <li><strong> {{message}} </strong></li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith%}
{% for r in restaurants %}

<h3><a href = "{{ url_for('showMenu', restaurant_id=r.id)}}">{{r.name}}</a></h3>
<p><a href= '{{url_for('editRestaurant', restaurant_id=r.id)}}'>Edit</a></p>
<p><a href= '{{url_for('deleteRestaurant', restaurant_id=r.id)}}'>Delete</a></p>
{% endfor %}

</body>

</html>